/* Style for the calendar table */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  table-layout: fixed;
}

th,
td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
  width: calc(100% / 31);
}

th {
  background-color: #eee;
  font-weight: bold;
}

tbody td:hover {
  background-color: #eee;
}

/* Style for the month scrollable */
#calendar {
  display: flex;
  overflow-x: scroll;
  white-space: nowrap;
}

/* Change the font of the calendar to Arial */
.calendar-container {
  font-family: Arial, sans-serif;
}


/* Style for the dates to appear as the top row */
thead {
  position: sticky;
  top: 0;
  background-color: #eee;
}

/* Style for the activity column */
td.activity {
  background-color: #f2f2f2;
  font-weight: bold;
}

/* Style for the activity rows */
tr.activity-row td {
  text-align: left;
  font-weight: normal;
}
